body{
    margin: 0px;
    background-image: url('img/pattern.jpg');
}

.content{
    background-color: white; 
    margin-left: 10%; 
    margin-right: 10%;
}

h1{
    text-align: center;
}

nav{
    /* materi flexbox */
    display: flex;
    background-color: white;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

ul{
    /* agar simbol yang di list itu hilang */
    list-style-type: none;
}

li{
    /* dari list vertikal menjadi horizontal atau inline */
    display: inline;
    margin-right: 20px;
}

a{
    /* agar garis bawah yang di tulisan atau link dapat hilang */
    text-decoration: none;
}

main{
    margin: 80px 150px 40px;
    padding: 30px;
    background-color: white;
}

article{
    margin-top: 10px;
    border-bottom: 3px solid black;
}

footer{
    background-color: black;
    padding: 8px;
}

h5{
    text-align: center;
    color: white;
}